entrypoint = "main.py"
modules = ["python-3.10"]
run = ["uvicorn", "main:app", "--reload"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["uvicorn", "main:app", "--reload"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
